body {
    background-image: url(../Imagens/mapaMundi.jpg);
    height: 100vh;
    font-family: 'Comfortaa', sans-serif;
    background-size: cover;
}

.logo {

    width: 200px;
    max-width: 100%;
    height: auto;
    margin-inline: 20px;
}

.barra {
    background-image: url(../Imagens/azulFarelado.jpeg);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    margin: auto;
    padding: 30px 20px 30px 30px;
    border-radius: 20%;
    font-size: 20px;
    z-index: 1;
    border: 2px solid white;
    justify-content: space-between;
    align-items: center;
}

a.linkbarra:hover {
    background-color: white;
    color: black;

}

.linkbarra {
    text-decoration: none;
    display: grid;
    color: white;
    text-align: center;
    padding: 19px 70px;
    border: 2px solid white;
    border-radius: 20px;
}


.logorensp {
    display: none;
}





nav {
    display: none;
}

.navibar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul_card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

}



.ul_card li {
    margin-right: 20px;
    margin-bottom: 20px;
}


a.flip-card-voltar {
    display: grid;
    text-align: center;
    padding: 19px 100px;
    text-decoration: none;
    margin-right: 10px;

}

.flip-card {
    background-color: transparente;
    display: flex;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
}


.flip-card-interno {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}




.container {
    margin-top: 220px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.titulo-tripula {
    text-align: center;
    margin-top: 0px;
    padding: 0px;
}

.titulo {
    background-color: #73B2D9;
    color: #B3E0F2;
    text-align: center;

    font-size: 50px;
    margin-top: 20px;
    border: 2px dashed #73B2D9;
    border-radius: 30%;
    padding: 5px;
}




.flip-card:hover .flip-card-interno {
    transform: rotateY(180deg);
}

.flip-card-frente,
.flip-card-voltar {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


li {
    margin-right: 20px;
    margin-bottom: 0;
}


.flip-card-frente {
    background-image: url(../Imagens/ondas-abstratas.jpg);

}

.flip-card-voltar {
    background-color: #B3E0F2;
    color: black;
    transform: rotateY(180deg);
}


.navios {
    background-image: url(../Imagens/azulFarelado.jpeg);
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 70px auto;
    position: relative;
    border: 2px solid white;
    box-shadow: 5px 5px 15px black;
    border-radius: 20px;
}

.navios h1 {
    text-align: center;
    font-size: 90px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px dashed white;
    border-radius: 30%;
    padding: 5px;
}

.imagem-merry {
    margin-top: 200px;
    flex: 1;
    margin-right: 20px;
    display: flex;
}

.imagem-merry img {
    max-width: 200px;
    height: auto;
    display: flex;
}

.texto-merry {
    flex: 1;
}

.texto-merry h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.texto-merry p {
    font-size: 16px;
}

.imagem-sunny {
    margin-top: 50px;
    flex: 1;
    margin-right: 20px;
    display: flex;
}

.imagem-merry img,
.imagem-sunny img {
    text-align: center;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.texto-sunny {
    flex: 1;
}

.texto-sunny h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.texto-sunny p {
    font-size: 16px;
}



@media (max-width: 768px) {
    .barra {
        display: none;
    }

    .barrali {
        flex-direction: column;
    }

    a.barrali {
        flex: 1;

        text-decoration: none;
        color: white;
        text-align: center;
        padding: 10px;
        border: 2px solid white;
        border-radius: 20px;
        margin: 5px;
    }

    .linkbarra {
        padding: 10px 20px;
        margin: 5px;
    }

    .logo {
        display: none;
    }

    .logorensp {
        width: 100%;
        display: flex;
        background-image: url(../Imagens/azulFarelado.jpeg);
        align-items: center;
        top: 0;
        height: 60px;
        justify-content: center;
        border: 2px solid white;
    }

    .logorensp img {
        max-width: 100%;
        height: 100px;
        text-align: center;
    }


    nav {
        display: inline-block;
        background-image: url(../Imagens/azulFarelado.jpeg);
    }

    #menu-h {
        display: flex;
        justify-content: center;
        background-color: rgb(37, 37, 39);
    }

    #menu-h ul {
        max-width: 800px;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #menu-h ul li {
        display: block;
        margin: 0 10px;
    }

    #menu-h ul li a {
        color: #FFF;
        padding: 15px;
        display: inline-block;
        text-decoration: none;
        transition: background .4s;
    }

    #menu-h ul li a:hover {
        background-color: white;
        color: black;
    }




}

@media(max-width:768) {
    .container {
        margin-top: 20px;
        flex-direction: column;
    }

    .container {
        margin-top: none;

    }


    .ul_card li {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .titulo {
        font-size: 40px;
    }

    .navios {
        padding: 10px;
        margin: 0px;
        height: auto;
    }



    .navios h1 {
        font-size: 60px;
        max-width: 100%;
        height: auto;
        display: block;
    }

    .imagem-merry img,
    .imagem-sunny img {
        max-width: 100%;
        height: auto;
        margin-top: 0px;
    }

}


@media (max-width: 492px) {
    nav {
        flex-direction: column;
        columns: 2;
        justify-content: space-around;
        /* Altera a direção da flexbox para uma coluna */
    }

    nav li {
        margin-right: 0;
        /* Remove a margem direita dos itens da lista */
    }
}