body {
    background-image: url(../Imagens/mapaMundi\(1500\).jpg);
    font-family: 'Comfortaa', sans-serif;

}

h1 {

    font-size: 50px;
    text-align: center;
    border: 2px dashed white;
    border-radius: 30px;
    /* Ajustado para pixels em vez de porcentagem */
    padding: 10px;
    /* Aumentado o preenchimento para melhor legibilidade */
    background-color: rgba(0, 0, 0, 0.5);
    /* Adicionado fundo semi-transparente para legibilidade */
    color: white;
    /* Cor do texto branca */
    margin: 20px 0;
    /* Margem superior e inferior para afastar do conteúdo seguinte */
}


.container {


    background-image: url(../Imagens/azulFarelado.jpeg);
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px auto;
    border: 2px solid white;
    border-radius: 10px;
    height: auto;
    /* Aumentar altura*/
}

h2 {
    color: white;
    border-bottom: 2px solid white;
}


h3 {
    color: white;
}

p {
    font-size: 16px;
    text-align: center;
    color: white;
    margin: 20px 0;
    /* Margem superior e inferior para afastar do conteúdo seguinte */
}

li {
    font-size: 16px;
    color: white;
}

img {
    max-width: 100%;
    width: 600px;
    border: 2px solid white;
    height: auto;
    /* A altura será dimensionada automaticamente */
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    p,
    li {
        font-size: 12px;
    }
}

pre {
    font-size: 16px;
    flex: 2;
    text-align: center;
    color: white;
    margin: 20px 0;
    /* Margem superior e inferior para afastar do conteúdo seguinte */
    white-space: pre-wrap;
    /* Permite quebrar palavras e textos em várias linhas */
    word-wrap: break-word;
    /* Quebra palavras longas que não cabem na tela */
    overflow: auto;
    /* Adiciona barras de rolagem quando o conteúdo não couber na tela */
}

#luffy {
    flex: 1;
    width: 150px;
    height: auto;
    float: right;
}

/*

Fruta abaixo

*/

.container #fruta {
    max-width: 100%;
    overflow: auto;
}

/* Estilos CSS para a tabela */
.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.celula {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}

.lider {
    font-weight: bold;
    background-color: #f0f0f0;
}

.celula img {
    max-width: 100px;
    /* Define a largura máxima para as imagens */
    height: auto;
}


@media (max-width: 768px) {
    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
        /* Adiciona rolagem horizontal quando necessário */
    }

    .row {
        display: flex;
        /* Utiliza flexbox para alinhar as células horizontalmente */
        margin-bottom: 20px;
        /* Espaço entre as linhas */
    }

    .celula {
        flex: 1;
        /* Faz as células ocuparem tamanhos iguais na linha */
        padding: 8px;
        border: 1px solid #ccc;
        text-align: center;
        vertical-align: middle;
    }

    .lider {
        font-weight: bold;
        background-color: #f0f0f0;
        padding: 8px;
    }

    .celula img {
        max-width: 100px;
        /* Define a largura máxima para as imagens */
        height: auto;
    }

}